html {
  scroll-behavior: smooth;
}

body{
    font: 400 15px/1.8 Lato, "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #777;
    margin: 0px;
}
/*navbar*/
  .nav {
    height: 55px;
    width: 100%;
    background-color: #d8d8df;
    position: relative;
  }
  
  .nav-header {
    display: inline;
  }
  
  .nav-header > .nav-title {
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-title>img{
    width: 128px;
    height: 40px;
    margin-left: 20px;
    margin-top: 8px;
    margin-bottom: 5px;
  }
  
  .nav-btn {
    display: none;
  }
 .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: black;
  }
  #nav-check {
    display: none;
  }
  
.ltext>h4{
    color: #fff;
}
.ltext{
    color: #fff;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ltext>p{
    margin-top: -13px;
}
/*slider*/

.bgimg{
    display: grid;
    grid-column: 1/-1;
    grid-row: 1/3;
    animation: Slide_Up .75s ease .2s;
  }
.bgimg>img{
    width: 100%;
    height: 450px;
    /* filter: grayscale(90%); */
}
@keyframes Slide_Up{
  0%{
    transform: translateY(250px);
  }
  100%{
    transform: translateY(0);
  }
}
.wrapper{
    display: grid;
    grid-column: 1/-1;
    grid-row: 1/2;
    width: 100%;
    height: auto;
    background-color: rgb(216, 216, 223);
}
#band{
  animation: Slide_Up1 2s ease ;
}
@keyframes Slide_Up1{
  0%{
    transform: translateY(650px);
  }
  100%{
    transform: translateY(0);
  }
}
.band{
    grid-column: 1/-1;
    grid-row: 1/2;
  animation: bounceIn 2s;
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
    padding: 30px;
  }
  100% {
    transform: scale(1);
  }
}
h4{
    text-align: center;
    padding-top: 50px;
    color: black;
    font-size: 20px;
    letter-spacing: 10px;
    font-weight: normal;
}
.band>p{
    text-align: center;
}
.band>.bpara{
    margin-left: 65px;
    margin-right: 65px;
    text-align: center;
    margin-bottom: -15px;
}
.bandgrids{
    display: grid;
    grid-row: 2/3;
    width: 100%;
    height: 380px;
    text-align: center;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: auto;
}
.bandgrids>div>p{
    text-align: center;
    margin-left: -30px;
    font-size: 24px;
}
.bandmmbr>img{
    border: 1px solid rgba(246, 237, 237, 0.895);
    border-radius: 130px;
    box-shadow: 0 3px 4px 0 rgba(119, 119, 119, 0.5);
    transition: 0.3s;
    width: 65%;
    height: 70%;
    margin-right: 30px;
}
.bandmmbr{
  transition: all 2.5s ease;
  transform-style: preserve-3d;
}
.item1:hover .bandmmbr {
  transform: rotateY(180deg);
}
.item2:hover .bandmmbr {
  transform: rotateY(180deg);
}
.item3:hover .bandmmbr {
  transform: rotateY(180deg);
}
.item1{
    margin: 0px;
}
.item2{
    margin: 0px;
}
.item3{
    margin: 0px;
}
.wrapper1{
    display: grid;
    grid-column: 1/-1;
    grid-row: 1/2;
    max-width: 100%;
    background-color: #2d2d30;
}
#tour{
  animation: Slide_Up1 3.75s ease ;
}
@keyframes Slide_Up1{
  0%{
    transform: translateY(650px);
  }
  100%{
    transform: translateY(0);
  }
}
.tour{
    grid-column: 1/-1;
    grid-row: 1/2;
    animation: bounceIn 3.5s;
}
.tour>h4{
    text-align: center;
    padding-top: 50px;
    color: white;
    font-size: 20px;
    letter-spacing: 10px;
    font-weight: normal;
}
.tour>p{
    text-align: center;
    color: #bdbdbd;
}
.tourgrid{
    display: grid;
    grid-column: 1/-1;
    grid-row: 2/3;
    max-width: 100%;
    height: auto;
    grid-template-columns: auto;
    grid-template-rows: repeat(3,auto);
    color: #bdbdbd;
    animation:  bounceIn 2s ease-in-out 1s 1 normal;
}
.sept>div{
    background-color: white;
    margin: 30px 165px 0px 165px;
    padding: 10px;
    border-bottom:1px solid #777;
}
.oct>div{
    background-color: white;
    margin: 0px 165px 0px 165px;
    padding: 10px;
    border-bottom:1px solid #777;
}
.nov>div{
    background-color: white;
    margin: 0px 165px 0px 165px;
    padding: 10px;
    border-bottom:1px solid #777;
}
.sout{
    background-color: #dc615e;
    border: 1px solid #dc615e;
    color: white;
    border-radius: 0.25em;
    font-size: 12px;
}
.badge{
    float: right;
    display: block;
    min-width: 10px;
    padding: 6px 6px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #777;
    border-radius: 10px;
    border-radius:20px ;
}
.places{
    display: grid;
    grid-row: 3/4;
    max-width: 90%;
    height: auto;
    grid-template-columns:repeat(3,auto);
    color: #bdbdbd;
    text-align: center;
    animation:  bounce 2s ease-in-out 1s 1 normal;
}
@keyframes bounce {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1);
    opacity: 1;
    padding: 30px;
  }
  100% {
    transform: scale(1);
  }
}
.card {
    max-width: 300px;
    margin:25px 30px 85px 163px;
  }
  .content {
      background-color: white;
    padding: 2px 16px;
    max-width: 90%;
    color: black;
    margin-top: -8px;
  }
  .content>h3{
      margin: 10px;
  }
  .content>p{
      margin: 20px;
  }
  .content>button{
      background-color: #2d2d30;
      color: white;
      width: 100px;
      height: 40px;
      margin-bottom: 20px;
  }
  .card1{
    max-width: 300px;
    margin:25px 125px 85px -10px;
  }
  .card2{
    max-width: 300px;
    margin: 25px 0px 85px -110px;
  }
  #contact{
    animation: bounceIn 4.5s ease-in-out;
  }
  .cntct_content{
      text-align: center;
      margin-top: 70px;
  }
  .content_form{
    display: grid;
    grid-row: 3/4;
    max-width: 100%;
    height: auto;
    grid-template-columns:repeat(2,auto);
  }
  .d_note{
      grid-column: 1/span 2;
      padding-left: 300px;
  }
  #icons{
    color: black;
    font-size:18px;
}
  .c_form{
    grid-column: 3/span 6;
  }
  .fn{
    padding: 10px 105px 10px 03px;
    margin-top: 20px;
  }
  .email{
      margin-left: 10px;
  }
  .cmnt{
    padding: 20px 336px 20px 03px;
    margin-top: 22px;
  }
  .c_form>form>button{
    background-color: #2d2d30;
    color: white;
    width: 80px;
    height: 40px;
    margin: 20px 0px 20px 435px;
  }
  #map-img{
    animation: bounceIn 6s ease-in-out;
  }
  footer{
      text-align: center;
    background-color: #2d2d30;
    color: #f5f5f5;
    margin-top: -10px;
    height: 160px;
    padding-top: 35px;
  }
  footer>a>i{
        color: #f5f5f5;
  }
  footer>p{
      margin-top: 0px;
      font-size: 18px;
  }
  @media (max-width:769px) {
    .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
      box-sizing: border-box;
    }
    .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #0c0b0b;
    }
    .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #d8d8df;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
   .nav-links > a {
      display: block;
      width: 100%;
    }
    #nav-check:not(:checked) ~ .nav-header>.nav-title>.nav-links {
      height: 0px;
    }
    #nav-check:checked ~ .nav-header>.nav-title>.nav-links {
      height: calc(100vh - 380px);
      overflow-y: auto;
    }
  }
  @media screen and (max-width:769px) {
    body{
        margin: 0px;
    }
    .band>.bpara{
        margin-bottom: -105px;
    }
    .bandgrids{
        display: grid;
        grid-row: 2/3;
        max-width: 60%;
        max-height: 280px;
        text-align: center;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        margin-left: 145px;
    }
    .wrapper{
        max-width: 100%;
        height: 1474px;
        background-color: rgb(216, 216, 223);
    }
    .item1{
        margin-top: -330px;
        height: 280px;
        grid-column:1/4;
        grid-row: 1/1;
    }
    .item2{
        grid-column:1/4;
        grid-row: 2/2;
        height: 280px;
        margin-top: 20px;
    }
    .item3{
        grid-column:1/4;
        grid-row: 3/3;
        height: 280px;
        margin-top: 60px;
        margin-bottom: 0;
    }
    .bandgrids>div>p{
        text-align: center;
        margin-left: -30px;
        font-size: 16px;
    }
    .bgimg>img{
        max-width: 100%;
    }
    .ltext{
        top: 72%;
        font-size: 14px;
    }
    .ltext>p{
        margin-top: -15px;
    }
    .wrapper1{
        max-width: 100%;
    }
    .tour{
       margin-left: -20px; 
    }
    .tourgrid{
        max-width: 82%;
    }
    .sept>div{
        background-color: white;
        margin: 30px -90px 0px 55px;
        padding: 10px;
        border-bottom:1px solid #777;
    }
    .oct>div{
        background-color: white;
        margin: 0px -90px 0px 55px;
        padding: 10px;
        border-bottom:1px solid #777;
    }
    .nov>div{
        background-color: white;
        margin: 0px -90px 0px 55px;
        padding: 10px;
        border-bottom:1px solid #777;
    }
    .card{
        grid-column:1/3;
        grid-row: 1/-1;
        margin: 25px 10px 0px 55px;
    }
    .card1{
        grid-column:5/7;
        grid-row: 1/-1;
        margin:25px 0px 0px 0px;
      }
      .card2{
        grid-column:3/7;
        grid-row: 2/3;
        margin: 35px 0px 25px -150px;
      }
      .d_note{
        grid-column: 1/span 3;
        padding-left: 25px;
        padding-right: 15px;
    }
    .c_form{
        grid-column: 4/span 5;
        margin-left: 30px;
      }
      .fn{
        padding: 10px 80px 10px 03px;
        margin-top: 20px;
      }
      .email{
          margin-left: 20px;
      }
      .cmnt{
        padding: 40px 300px 40px 03px;
        margin-top: 22px;
      }
      .c_form>form>button{
        margin: 20px 0px 20px 395px;
      }
  }
  @media (max-width:480px) {
    .nav-header>.nav-title>img{
    width: 100px;
    height: 40px;
    margin-left: 30px;
    margin-top: 58px;
    margin-bottom: 5px;
    }
    .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
      box-sizing: border-box;
    }
    .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #0c0b0b;
    }
    .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #d8d8df;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
   .nav-links > a {
      display: block;
      width: 100%;
    }
    #nav-check:not(:checked) ~ .nav-header>.nav-title {
      height: 0px;
    }
    #nav-check:checked ~ .nav-header>.nav-title {
      height: calc(100vh - 380px);
      overflow-y: auto;
    }
  }
  @media screen and (max-width:769px) {
    body{
        margin: 0px;
    }
    .band>.bpara{
        font-size:3vw;
        text-align: center;
    }
    .band>h4{
        margin-left: 35px;
    }
    .ltext>p{
        text-align: center;
    }
    .bandgrids{
        display: grid;
        grid-row: 2/3;
        max-width: 60%;
        max-height: 580px;
        text-align: center;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        margin-left: 145px;
    }
    .wrapper{
        max-width: 100%;
        height: 1350px;
        background-color: rgb(216, 216, 223);
    }
    .item1{
        margin-top: -180px;
        margin-left: -110px;
        height: 180px;
        grid-column:1/4;
        grid-row: 1/1;
    }
    .item2{
        grid-column:1/4;
        grid-row: 2/2;
        height: 180px;
        margin-top: 80px;
        margin-left: -110px;
    }
    .item3{
        grid-column:1/4;
        grid-row: 3/3;
        height: 180px;
        margin-top: 80px;
        margin-left: -110px;
        margin-bottom: 0;
    }
    .bandgrids>div>p{
        text-align: center;
        margin-left: -30px;
        font-size: 16px;
    }
    .bgimg>img{
        max-width: 100%;
    }
    .ltext{
        top: 48%;
        font-size: 12px;
    }
    .ltext>h4{
        font-size: 18px;
        letter-spacing: 8px;
    }
    .ltext>p{
        margin-top: -20px;
    }
    .wrapper1{
        max-width: 100%;
    }
    .tour{
       margin-left: 5px; 
    }
    .tourgrid{
        max-width: 68%;
    }
    .sept>div{
        background-color: white;
        margin: 30px -90px 0px 25px;
        padding: 10px;
        border-bottom:1px solid #777;
    }
    .oct>div{
        background-color: white;
        margin: 0px -90px 0px 25px;
        padding: 10px;
        border-bottom:1px solid #777;
    }
    .nov>div{
        background-color: white;
        margin: 0px -90px 0px 25px;
        padding: 10px;
        border-bottom:1px solid #777;
    }
    .card{
        grid-column:1/3;
        grid-row: 1/-1;
        margin: 60px 20px 0px 60px;
    }
    .card1{
        grid-column:1/3;
        grid-row: 2/3;
        margin: 60px 20px 0px 60px;
      }
      .card2{
        grid-column:1/3;
        grid-row: 3/4;
        margin: 60px 20px 30px 60px;
      }
      .d_note{
        grid-column: 1/ 3;
        grid-row: 1/2;
        padding-left: 45px;
        padding-right: 15px;
    }
    .c_form{
        grid-column: 1/ 4;
        grid-row: 2/3;
        margin-left: 40px;
      }
      .fn{
        padding: 10px 80px 10px 03px;
        margin-top: 20px;
      }
      .email{
          margin-left: 0px;
      }
      .cmnt{
        padding: 40px 100px 40px 03px;
        margin-top: 22px;
      }
      .c_form>form>button{
        margin: 20px 0px 20px 220px;
      }
  }
